*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(183,75,210,1) 100%, rgba(252,70,107,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}
nav{
    z-index: 2;
    background: darkblue;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #d90000;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #d90000;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{

    position: relative;
}


.card1 {
    width: 506px;
    height: 319px;
    position: relative;
    background: radial-gradient(
            140% 140% at 0% 0%,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    border-top: 1px solid #eeeded70;
    border-left: 1px solid #eeeded70;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-right: 90px;
}

.card {
    width: 506px;
    height: 319px;
    position: relative;
    background: radial-gradient(
            140% 140% at 0% 0%,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    border-top: 1px solid #eeeded70;
    border-left: 1px solid #eeeded70;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all 0.8s ease 0s;
}

.blockedCard{
    position: absolute;
    color: red;
    transform: rotate(-35deg);
    font-size: 83px;
    bottom: 127px;
    left: 48px;
}

.card:hover{
    transform: translate(-20px, -20px);
}

.card:last-child{
    transform: none;
}



.bank {
    color: #ffffff;
    font-size: 28px;
    font-family: "Mulish", sans-serif;
    position: absolute;
    top: 30px;
    right: 30px;
}

.chip {
    width: 50px;
    position: absolute;
    top: 100px;
    left: 40px;
}

.indicator {
    width: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.number {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    bottom: 100px;
    left: 30px;
}

.numberCard2{
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    bottom: 100px;
    left: 19px;
    background: content-box;
    border: none;
    color: white;
    border-bottom: 4px solid chartreuse;
    outline: none;

}

.card-holder {
    color: #ffffff;
    font-size: 14px;
    font-family: cursive;
    font-weight: 700;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-transform: uppercase;
}

.card-holder span {
    font-size: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}

.valid {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    left: 220px;
    text-transform: uppercase;
}

.valid span {
    font-size: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}

.logo1 {
    width: 70px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.parent {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    padding: 20px;
}

.large {
    font-size: xx-large;
}

.balance{
    position: fixed;
    bottom: 50px;
}

.addMoney{
    position: fixed;
    right: 103px;
    bottom: 50px;
    cursor: pointer;
    color: deepskyblue;
    background: transparent;
    font-size: large;
    padding: 3px;
    margin-left: 7px;
    border: 2px solid darkblue;
}

.addNewCardClass{
    cursor: pointer ;
    border: none;
    color: deepskyblue;
    background: transparent;
    position: absolute;
    top: 40%;
    left: 5%;
    margin-top: 0;
    font-size: xx-large;
}

.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: transparent;
}

.popup1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: transparent;
}

.close{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size:xxx-large;
    color: red;
    border: red 1px;
    cursor: pointer;
}

.close1{
    position: absolute;
    right: 5%;
    top: 5%;
    font-size:xxx-large;
    color: red;
    border: red 1px;
    cursor: pointer;
}

.form{
    text-align: center;
}

.card1 .button-29{
    position: absolute;
    bottom: 30px;
    left: 250px;
}

.par{
    font-size: xxx-large;
    margin-top: 10%;
    margin-bottom: 2%;
    color: fuchsia;
    font-family: Arial, sans-serif;
}

select::-ms-expand {
    display: none;
}

.requestCard{
    border: 2px solid lime;
    position: absolute;
    font-size: 14px;
    top: 28px;
    left: 36px;
    border-radius: 7px;
    height: 28px;
    width: 72px;
    background: transparent;
    color: lime;
    cursor: pointer;
}

.blockCard{
    border: 2px solid red;
    position: absolute;
    font-size: 14px;
    top: 28px;
    left: 36px;
    border-radius: 7px;
    height: 28px;
    width: 69px;
    background: transparent;
    color: red;
    cursor: pointer;
}

.howmuch{
    outline: none;
    background: content-box;
    border: none;
    color: white;
    border-bottom: 4px solid chartreuse;
    width: 100px;
    font-size: large;
    margin-top: 3px;
    margin-bottom: 10px;
}

.option{
    background: transparent;
}

.sel1{
    position: absolute;
    bottom: 92px;
    width: 90%;
    color: chartreuse;
    left: 25px;
    font-size: 30px;
}


select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;

}

.sel{
    position: relative;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    align-items: center;
    margin-bottom: 5%;
}


.sel::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.sel:after {
// ...existing styles
justify-self: end;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}


                                                       /* CSS */
                                                   .button-29 {
                                                       align-items: center;
                                                       appearance: none;
                                                       background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
                                                       border: 0;
                                                       border-radius: 6px;
                                                       box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
                                                       box-sizing: border-box;
                                                       color: #fff;
                                                       cursor: pointer;
                                                       display: inline-flex;
                                                       font-family: "JetBrains Mono",monospace;
                                                       height: 48px;
                                                       justify-content: center;
                                                       line-height: 1;
                                                       list-style: none;
                                                       overflow: hidden;
                                                       padding-left: 16px;
                                                       padding-right: 16px;
                                                       position: relative;
                                                       text-align: left;
                                                       text-decoration: none;
                                                       transition: box-shadow .15s,transform .15s;
                                                       user-select: none;
                                                       -webkit-user-select: none;
                                                       touch-action: manipulation;
                                                       white-space: nowrap;
                                                       will-change: box-shadow,transform;
                                                       font-size: 18px;
                                                   }

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
